.header{
    background-color: rgb(0, 0, 0);
    display:flex;
    margin-bottom: 0px;
}
/* NAVIGATION */
#theme{
    font-family: Serif;
    color:white;
    margin-bottom: 0px;
    font-size:40px;
    margin-left:40px;
    width:33%;
}
.navigation{
    text-align: center;
    margin-top: 60px;
    width: 33%;
}
.nav_link{
    color:white;
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: none;
    padding-right:50px;
}
.nav_link:hover{
    text-decoration:underline;
}
body{
    margin: 0px;
    background-color: blue;
    background: url("images/4-colors.jpg");
}
.product{
    background-color: white;
    border: 2px ridge black;
    height: 250px;
    width: 300px;
    margin-left: 50px;
    position:relative;
    top:60px;
    padding-top: 20px;
    margin-bottom: 50px;
    display: inline-block;
    text-align:center;
    font-family: "Lucida Console", Courier, monospace;
}

#img_dvd{
    height: 60px;
    width: 60px;
}
#img_book{
    height: 60px;
    width: 60px;
}
#img_furniture{
    height: 60px;
    width: 60px;
}

.productform{
    width: 340px;
    background-color: white;
    border: 2px ridge black;
    text-align: center;  
    font-family: "Lucida Console", Courier, monospace;
    font-size: 18px;
    margin: 0 auto;
    margin-top: 80px; 
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
} 
.submit_button{
    background: #0093f0;
    background-image: linear-gradient(to right, #79CBCA  31%, #77A1D3  100%);
    border-color: #0066A2;
    height: 40px;
    width: 80px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 18px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.submit_button:hover {
    color: #fff;
  }

.field{
    display:table-row;
    width: 350px;
    padding-top: 10px;
}
span{
    display: table-cell;
    text-align:right;
}
#dropdown{
    font-size:14px;
    margin-top: 15px;
    width: 177px;
}
select, option{
    text-align:center;
}
input{
    margin-top: 15px;
}
.info{
    font-size: 12px;
    width: 177px;
    text-align: left;
}
#delete_mark{
    margin-top: 0px;
    float:left;
    margin-left:20px;
}
.delete{
    margin-right: 75px;
    margin-top:30px;
    text-align:right;
}
#delete_button{
    background: #0093f0;
    background-image: linear-gradient(to right, #79CBCA  31%, #77A1D3  100%);
    border-color: #0066A2;
    height: 40px;
    width: 180px;
    font-family: "Lucida Console", Courier, monospace;
    font-size: 16px;
}